.router-container {
    left: 251px;
    top: 58px;
    right: 0;
    bottom: 0;
    width: calc(100% - 251px);
    height: fit-content;
    min-height: 100%;
    background-color: #F7F7F7;
    padding: 20px 40px;
}
